
-- 1. Create Database (Simplified paths for compatibility)
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'StudentPortalDb')
BEGIN
    CREATE DATABASE [StudentPortalDb]
END
GO

USE [StudentPortalDb]
GO

-- 2. Create Courses Table
CREATE TABLE [dbo].[Courses](
    [CourseId] [int] IDENTITY(1,1) NOT NULL,
    [Title] [nvarchar](150) NOT NULL,
    [DurationDays] [int] NOT NULL,
    [Fee] [decimal](10, 2) NOT NULL,
    [Level] [nvarchar](30) NOT NULL,
    [IsActive] [bit] NOT NULL CONSTRAINT [DF_Courses_IsActive] DEFAULT (1),
    [CreatedAt] [datetime2](7) NOT NULL CONSTRAINT [DF_Courses_CreatedAt] DEFAULT (sysdatetime()),
    CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED ([CourseId] ASC)
);
GO

-- 3. Create Students Table
CREATE TABLE [dbo].[Students](
    [StudentId] [int] IDENTITY(1,1) NOT NULL,
    [FullName] [nvarchar](120) NOT NULL,
    [Email] [nvarchar](180) NOT NULL,
    [Phone] [nvarchar](30) NULL,
    [Status] [nvarchar](20) NOT NULL CONSTRAINT [DF_Students_Status] DEFAULT ('Active'),
    [JoinDate] [date] NOT NULL,
    [CreatedAt] [datetime2](7) NOT NULL CONSTRAINT [DF_Students_CreatedAt] DEFAULT (sysdatetime()),
    CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED ([StudentId] ASC),
    CONSTRAINT [UX_Students_Email] UNIQUE NONCLUSTERED ([Email] ASC)
);
GO

-- 4. Create Enrollments Table (With Foreign Keys)
CREATE TABLE [dbo].[Enrollments](
    [EnrollmentId] [int] IDENTITY(1,1) NOT NULL,
    [StudentId] [int] NOT NULL,
    [CourseId] [int] NOT NULL,
    [EnrollDate] [date] NOT NULL,
    [PaymentStatus] [nvarchar](20) NOT NULL CONSTRAINT [DF_Enrollments_PaymentStatus] DEFAULT ('Pending'),
    [PaidAmount] [decimal](10, 2) NOT NULL CONSTRAINT [DF_Enrollments_PaidAmount] DEFAULT (0),
    [CreatedAt] [datetime2](7) NOT NULL CONSTRAINT [DF_Enrollments_CreatedAt] DEFAULT (sysdatetime()),
    CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED ([EnrollmentId] ASC),
    CONSTRAINT [UQ_Enrollments_StudentCourse] UNIQUE NONCLUSTERED ([StudentId], [CourseId]),
    CONSTRAINT [FK_Enrollments_Students] FOREIGN KEY([StudentId]) REFERENCES [dbo].[Students] ([StudentId]),
    CONSTRAINT [FK_Enrollments_Courses] FOREIGN KEY([CourseId]) REFERENCES [dbo].[Courses] ([CourseId])
);
GO

-- 5. Create tblLog Table (FIXED: Added IDENTITY)
CREATE TABLE [dbo].[tblLog](
    [LogId] [int] IDENTITY(1,1) NOT NULL,
    [StudentId] [int] NOT NULL,
    [Info] [varchar](2000) NULL,
    [LogDate] [datetime2](7) DEFAULT (sysdatetime()), -- Added timestamp for better logging
    CONSTRAINT [PK_tblLog] PRIMARY KEY CLUSTERED ([LogId] ASC),
    CONSTRAINT [FK_tblLog_Students] FOREIGN KEY([StudentId]) REFERENCES [dbo].[Students] ([StudentId])
);
GO

-- 6. Insert Seed Data
SET IDENTITY_INSERT [dbo].[Courses] ON 
INSERT [dbo].[Courses] ([CourseId], [Title], [DurationDays], [Fee], [Level], [IsActive]) 
VALUES 
(1, N'ASP.NET MVC Fundamentals', 20, 7999.00, N'Beginner', 1),
(2, N'Entity Framework Core', 15, 6999.00, N'Intermediate', 1),
(3, N'IIS Deployment & CI/CD', 10, 4999.00, N'Advanced', 1);
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO

SET IDENTITY_INSERT [dbo].[Students] ON 
INSERT [dbo].[Students] ([StudentId], [FullName], [Email], [Phone], [Status], [JoinDate])
VALUES 
(1, N'Asha Sharma', N'asha@example.com', N'9876543210', N'Active', '2026-02-01'),
(2, N'Ravi Kumar', N'ravi@example.com', N'9876543211', N'Active', '2026-02-10'),
(3, N'Neha Singh', N'neha@example.com', N'9876543212', N'Inactive', '2026-01-15');
SET IDENTITY_INSERT [dbo].[Students] OFF
GO

SET IDENTITY_INSERT [dbo].[Enrollments] ON 
INSERT [dbo].[Enrollments] ([EnrollmentId], [StudentId], [CourseId], [EnrollDate], [PaymentStatus], [PaidAmount])
VALUES 
(1, 1, 1, '2026-02-05', N'Paid', 7999.00),
(2, 2, 1, '2026-02-12', N'Pending', 0.00);
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO